/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    width: 100%;
    clear: both;
    top: 0;
    background-color: black;
}

li a{
    color: white;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    margin-top: 6%;
    position: static;

    height: 680px;
    margin-bottom: 10%;
    margin-right: 8%;
    padding-bottom: 5%;
}

.col-sm-12.text-left{
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    width: 100%;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        position: static;

        margin-top: 13%;
        margin-bottom: 13%;
    }
    .col-sm-12.text-left{
        height:auto;
        height: 650px;

    }

    .navbar-toggle span {
        background-color: white;
    }

}