#mapControls{
    background-color: #AEAEAE;
    width: 23%;
    height: 876px;
    position: absolute;
    margin-top: -2%;
}

#map{
    width: 75%;
    height: 838px;
    margin: 8% 10% 1% 24%;
    position: relative;
}

.checkboxes{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    margin-left: 23%;
}

#filter{
    display: inline-block;
    max-width: 100%;
    margin-left: 23%;
    margin-top: 25%;
}

.test{
    background-color: white;
}

@media screen and (max-width: 991px){
    .filter {
        margin-left: 5%;
        width: 23%;
        height: 775px;
        margin-top: 7%;
    }

    .checkboxes{
        font-size: 10px;
    }
}