#mapControls{
    background-color: #AEAEAE;
    width: 23%;
    height: 876px;
    position: absolute;
    margin-top: -1%;
}

#map{
    width: 75%;
    height: 838px;
    margin: 8% 10% 1% 24%;
    position: relative;
}

.checkboxes{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    margin-left: 23%;
}

#filter{
    display: inline-block;
    max-width: 100%;
    margin-left: 23%;
    margin-top: 25%;
}

.test{
    background-color: white;
}

#filterButton{
    background: greenyellow;
    color: #FFF;
    border-radius: 6px;
    width: 15%;
    height: 4%;
    margin-left: 35%;
}


@media screen and (max-width: 1010px){
    #mapControls {
        width: 23%;
        height: 838px;
        margin-top: 0%;
    }

    #map{
        margin: 16% 10% 1% 24%;
    }

    .checkboxes{
        font-size: 13px;
    }
}